spring.config.import: "configserver:,classpath:application-openapi.yml"

spring:
  application:
    name: ms-res
  cloud:
    config:
      fail-fast: true
      retry:
        initialInterval: 3000
        multiplier: 1.3
        maxInterval: 10000
        maxAttempts: 20
      uri: http://localhost:8888
      username: ${CONFIG_SERVER_USR:config-usr}
      password: ${CONFIG_SERVER_PWD:SIS313ucb}

---
spring:
  config:
    activate:
      on-profile: docker
  cloud:
    config:
      uri: http://config-server:8888
